:root{
    --amarillo:#eadb0b;
    --negro:#000000;
    --blanco:#ffffff;
    --rojo:#e10606;
    --gris:#767879;
    --azul:#081ae1;
    --anaranjado:#d16f1e;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, var(--rojo) 5%,var(--gris)100%);/*fondo gradiante*/


}
.titulo_principal{
    color:var(--anaranjado);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}
.navegacion_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul);
    border-radius: 1rem; /*redondeo de barra navegacion*/
}

@media(min-width:768px) {
    .navegacion_principal{
        flex-direction: row;
        justify-content:space-around;    
    }
    
}
.navegacion_principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;

}

.navegacion_principal a:hover{
    background-color: var(--gris);
   
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}